.directing_btn {
    background: linear-gradient(to right, #6f56a5, #2832c0);
}

.directing_btn:hover {
    background: #1b2397 !important;
}

/* Login */
.login_img img {
    height: 27em;
    width: 27em;
    margin-left: 4em;
}

.login_box {
    width: 90em;
    padding: 1em 2em;
    margin: 1em 2.5em;
}